<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header.tmpl.html"}}
        <title>Alira Login</title>
        <style>
            .container-center {
                position: absolute;
                top: 50%;
                left: 50%;
                -moz-transform: translateX(-50%) translateY(-50%);
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="container-center">
                <h1 class="h3 mb-3 font-weight-normal text-center">Welcome to <code>Alira</code></h1>
                <form class="form-inline form-login" method="POST" action="/auth/login">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="userid" class="sr-only">UserID</label>
                        <input type="text" class="form-control" id="userid" name="userid" placeholder="Username, email, or mobile" required>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Login</button>
                </form>
                <div class="text-center clear-fix">
                    <span><b>-- or --</b></span>
                    <p>Scan barcode below using <code>Alira</code> mobile</p>
                    <img src="/auth/qrcode/{{.code}}" alt="{{.code}}">
                    <h2 style="color: green" id="message"></h2>
                </div>
            </div>
            {{ if .error }}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ .error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ end }}
        </div>
        <script type="text/javascript">
            var socket = null;
            var uri = 'ws://' + window.location.host + '/auth/socket/{{.code}}'

            window.onload = function() {
                console.log('window onload');
                socket = new WebSocket(uri);
                socket.onopen = function() {
                    console.log('Open socket connection ' + uri);
                }
                socket.onclose = function(e) {
                    console.log('Close socket connection (' + e.code + ')' );
                }
                socket.onmessage = function(e) {
                    console.log('Receive message: ' + e.data);
                    document.getElementById('message').innerHTML = e.data;
                    window.location = e.data;
                }
            }
        </script>
        {{template "footer.tmpl.html"}}
    </body>
</html>