<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "header.tmpl.html"}}
        <title>Alira Token</title>
    </head>
    <body >
        <div class="container">
            <div class="container-center">
                <h1 class="h3 mb-3 font-weight-normal text-center">Token <code>Alira</code></h1>
                {{ if .redirect }}
                <form class="form-inline form-login" method="POST" action="/token/verify?redirect={{ .redirect }}"></form>
                {{ else }}
                <form class="form-inline form-login" method="POST" action="/token/verify">
                {{ end }}
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" class="form-control" id="token" name="token" placeholder="Token" required>
                    </div>
                    <input type="hidden" name="referer" value="{{ .referer }}"/>
                    <input type="hidden" name="purpose" value="{{ .purpose }}"/>
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>
                <a href="/">Cancel</a>
            </div>
            {{ if .error }}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <span>{{ .error }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ end }}
        </div>
        {{template "footer.tmpl.html"}}    
    </body>
</html>