<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Alira Account Registration</title>
    </head>
    <body>
        <p>Hi Friend,</p>
        <section class="welcome-panel">
            <p><h3>Welcome to Alira community</h3>
            Together we build a better community for everyone. Currently we have 30 social community with any purposes.</p>
        </section>
        <section class="token-panel">
            <p>Here your registration token to continue your registration process. 
                Token: <code><b>{{.token}}</b></code>
            <p>Your token is valid until 12 hours since you received this email.</p>
            </p>
        </section>
        <footer>
            <p>Regards, <br/>Alira Support</p>
        </footer>
    </body>
</html>