<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Alira Login Page</title>
        <style>
            body {
                text-align: center;
            }
            .input-field {
                margin: 1rem 0 2rem 0;
            }
        </style>
    </head>
    <body>
        <form class="form-login" method="POST" action="/login?redirect={{.redirect}}">
            <h1>Log In to Alira</h1>
            <div>
                <input type="text" minlength="3" name="userid" required>
            </div>
            <div class="input-field">
                <button type="submit" value="submit" title="Submit">Submit</button>
            </div>
        </form>
        <div>
            <span><b>-- or --</b></span>
            <p>Scan barcode below using <code>Alira</code> installed on your mobile phone</p>
            <img src="/api/alpha/auth/qrcode/{{.code}}" alt="{{.code}}">
            <h2 style="color: green" id="message"></h2>
        </div>
        <script type="text/javascript">
            var socket = null;
            var uri = 'ws://' + window.location.host + '/api/alpha/auth/socket/{{.code}}'

            window.onload = function() {
                console.log('window onload');
                socket = new WebSocket(uri);
                socket.onopen = function() {
                    console.log('Open socket connection ' + uri);
                }
                socket.onclose = function(e) {
                    console.log('Close socket connection (' + e.code + ')' );
                }
                socket.onmessage = function(e) {
                    console.log('Receive message: ' + e.data);
                    document.getElementById('message').innerHTML = e.data;
                    window.location = e.data;
                }
            }
        </script>
    </body>
</html>